
.underline {
    border: 2px solid;
    color: dodgerblue;
    display: block;
    width: 50px;
    margin: 0 auto;
}

.filter-btn {
    background-color: white;
    color:  rgb(214, 165, 2);
}

.filter-btn:hover {
    background-color: rgb(214, 165, 2);
    color: white;
    font-weight: bold;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    background-color: rgb(32, 29, 29);
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: rgb(3, 3, 3);
    transition:cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transform: translate(0);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.links a {
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: white;
    transition:cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.links a:hover {
    background: rgb(151, 150, 150);
    color: rgb(3, 3, 3);
  }

  .bg {
    background-color: rgb(32, 29, 29);
  }

  @media screen and (min-width: 676px) {
    .sidebar {
      width: 300px;
    }
  }